body {
  margin: 0px;
  background-color: #F7F7F7;
}

.menu {
  background-color: #423b3e;
  padding: 0.1%;
}

footer {
  background-color: #769E95;
  padding: 0.1%;
}

button {
  width: 100px;
  height: 50px;
  color: #75B380;
  background: transparent;
  border-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: -21px;
  margin-right: 15px;
}

.menu img {
  height: 50px;
  margin-right: 1050px;
}

.iconos img {
  width: 60px;
  height: 60px;
  background-size: contain;
}

.noticia img {
  width: 280px;
  height: 220px;
  background-size: contain;
}

.artistas img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.canciones img {
  height: 140px;
  width: 150px;
  margin-top: 10px;
}

.webs img {
  height: 100px;
  width: 250px;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

aside img {
  height: 200px;
  width: 220px;
  margin: auto;
  margin-bottom: 30px;
  display: block;
}

.artista1, .artista2, .artista3, .artista4, .artista5,
.cancion1, .cancion2, .cancion3, .cancion4, .cancion5, .cancion6, .cancion7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cancion1, .cancion2, .cancion3, .cancion4, .cancion5, .cancion6, .cancion7 {
  height: 250px;
  width: 180px;
  margin-left: 10px;
  background-color: #c7c7c7;
  border-radius: 20px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10%;
  margin-right: 15%;
}

.iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.iconos img {
  height: 30px;
  width: 30px;
}

.iconos p {
  color: white;
}

.artistas, .canciones, .mini_Noticia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.noticias, .noticia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-color: #9b9b9b;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card img {
  width: 280px;
}

.card a:hover {
  color: #494343;
}

.notici img {
  width: 1000px;
  height: 650px;
}

.card p {
  color: #9b9b9b;
}

.radio {
  text-align: center;
}

.emisoras img {
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.emisoras img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 30px blue;
          box-shadow: 0px 0px 30px blue;
  border-width: 3px;
}

.podcast h2, .buscGen h2, .radio h2, section h1, .opinion h2 {
  font-weight: lighter;
}

.episodiosPod, .Programas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.episodio h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: lighter;
  height: 40px;
  margin-top: -5px;
  padding-left: 4px;
  color: #74aecf;
  background-color: black;
}

.episodio i {
  padding-right: 10px;
  color: #96d4f8;
}

.episodio-body:hover {
  opacity: 0.8;
}

.episodiosPod img:hover {
  opacity: 0.6;
}

.programa {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 30px;
}

.programa div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  font-family: Helvetica,sans-serif;
  height: 50px;
  width: 300px;
}

.buscGen, .buscCan {
  text-align: center;
}

.buscGen input {
  width: 50%;
}

.buscCan input {
  width: 600px;
}

.genero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.genero p {
  color: white;
  font-weight: bold;
  padding-left: 10px;
}

.genero img {
  width: 85px;
  float: right;
  padding-top: 20px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.Latina, .Pop, .Relax, .Flamenco, .Rock, .Hip, .Dance, .Indie,
.Decadas, .Fiestas, .Folk, .Instrumental, .Jazz, .Soul, .Clasica,
.K-pop, .Punk, .Metal, .Cumbia, .Blues, .Funk, .Salsa, .Alternativa,
.Trap, .Rap {
  border-radius: 10px;
  width: 150px;
  height: 150px;
  margin: 10px;
}

.Latina, .Indie, .Fiestas, .Punk, .Blues {
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(gold));
  background: linear-gradient(top, red, gold);
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
}

.Pop, .Hip, .Jazz, .K-pop, .Funk, .Rap {
  background: -webkit-gradient(linear, left top, left bottom, from(brown), to(pink));
  background: linear-gradient(top, brown, pink);
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
}

.Relax, .Rock, .Decadas, .Instrumental, .Soul,
.Clasica, .Cumbia, .Alternativa {
  background: -webkit-gradient(linear, left top, left bottom, from(purple), to(pink));
  background: linear-gradient(top, purple, pink);
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
}

.Flamenco, .Dance, .Folk, .Metal, .Salsa, .Trap {
  background: -webkit-gradient(linear, left top, left bottom, from(silver), to(gold));
  background: linear-gradient(top, silver, gold);
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
}

.opinion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.btnenvi {
  width: 200px;
  height: 50px;
  color: white;
  font-weight: bold;
  background: dodgerblue;
  font-family: sans-serif;
  border-radius: 6px;
  -webkit-transition: all 0.3s cubic-bezier(0.67, 0.17, 0.4, 0.83);
  transition: all 0.3s cubic-bezier(0.67, 0.17, 0.4, 0.83);
  margin-top: 40px;
}

.form-control {
  width: 600px;
}

.form-group {
  margin-top: 40px;
}

.tino img {
  width: 1000px;
  height: 750px;
}

.tino a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  color: grey;
}

.tino p {
  font-family: Helvetica;
  font-size: 20px;
}

.MusicL {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Lmusica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.Lmusica:hover {
  background-color: #a1aaaf;
  border-radius: 10px;
  opacity: 0.8;
}

.Lmusica img {
  padding-left: 10px;
}

.minutos {
  margin-left: 300px;
  padding-right: 20px;
}

.NombreMusic {
  margin-left: 20px;
  padding-bottom: 5px;
}
/*# sourceMappingURL=guia.css.map */