#canvas{
  background:#F7F7F7;
}

h1,h2,h3,h4{
  font-size: 40px;
  font-family: Helvetica, sans-serif;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 24px;
}

h4{
  font-size: 16px;
}

p,a{
  font-family: Arial;
  font-size: 16px;
}

a{
  font-size: 14px;
  text-decoration: none;
  color: black;
}

button:hover{
  background-color: #665B5F;
}

.top,ul{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

ul{
  list-style: none;
}

ul img{
  display: none;
}

#buscador{
  display: none;
}

li img:hover{
  background-color: #665B5F;
}

/*MEDIA QUERIES*/

@media(max-width: 1650px){
  aside{
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .web{
    flex-direction: row;
  }
  main{
    flex-direction: column;
    margin-left: 16%;
  }
}

@media(max-width: 1500px){
  .menu img{
    margin-right: 500px;
  }
  .canciones img{
    border-radius: 10px;
  }
}

@media(max-width: 1350px){
  .tino img{
    width: 800px;
    height: 650px;
  }
}

@media(max-width: 1100px){
  .noticia img{
    height: 150px;
    width: 180px;
  }
  .notici img{
    float: left;
    padding: 10px;
    width: 320px;
    height: 200px;
  }
  .canciones{
    flex-wrap: wrap;
  }
  .cancion1,.cancion2,.cancion3,.cancion4,.cancion5,.cancion6,.cancion7{
    margin-top: 10px;
  }
  .menu img{
    margin-right: 390px;
  }
  .card img{
    width: 190px;
  }
  .card{
    margin-left: 5px;
    margin-right: 5px;
  }
  .tino img{
    width: 600px;
    height: 500px;
  }
}

@media(max-width: 900px){
  .menu img{
    margin-right: 150px;
  }
  .menus{
    display: none;
    margin: 0px;
  }
  ul{
    justify-content: flex-start;
    margin-left: 12%;
  }
  ul img {
    display: inline;
  }
  ul li:hover > .menus{
    display: flex;
    flex-direction: column;
  }
  .menus input{
    display: none;
  }
  button{
    margin: 0px;
  }
  h2{
    font-size: 28px;
  }
  #buscador{
    display: inline;
    margin-left: 30%;
  }
  main{
    margin-left: 10%;
  }
  .card img{
    width: 180px;
  }
}

@media(max-width: 800px){
  .anuncio{
    display: none;
  }
  main{
    margin-left: 16%;
  }
  .noticias{
    flex-direction: column;
  }
  .card img{
    width: 150px;
  }
  .card h4{
    font-size: 12px;
  }
  .tino img{
    width: 400px;
    height: 300px;
  }
  .minutos{
    margin-left: 160px;
  }
}

@media(max-width: 700px){
  .canciones img{ 
    height: 70px;
    width: 70px;
  }
  .cancion1,.cancion2,.cancion3,.cancion4,.cancion5,.cancion6,.cancion7{
    height: 160px;
    width: 100px;
  }
  .canciones p{
    margin-top: 2px;
  }
  .notici img{
    width: 200px;
    height: 150px;
  }
  .card img{
    width: 130px;
  }
  .Latina,.Pop,.Relax,.Flamenco,.Rock,.Hip,.Dance,.Indie,
  .Decadas,.Fiestas,.Folk,.Instrumental,.Jazz,.Soul,.Clasica,
  .K-pop,.Punk,.Metal,.Cumbia,.Blues,.Funk,.Salsa,.Alternativa,
  .Trap,.Rap{
    width: 100px;
    height: 100px;
  }
  .genero img{
    width: 50px;
    padding-top: 15px;
  }
  .form-control{
    width: 300px;
  }
  .minutos{
    margin-left: 80px;
  }
  .buscCan input{
    width: 400px;
  }
}

@media(max-width: 600px){
  .menu img{
    margin-right: 0px;
  }
  #buscador{
    margin-left: 40px;
  }
  .top img{
    height: 30px;
  }
  li img{
    width: 35px;
  }
  .notici img{
    width: 150px;
    height: 120px;
  }
  p{
    font-size: 14px;
  }
  .mini_Noticia{
    flex-direction: column;
  }
  .card{
    margin: 1px;
  }
  .emisoras img{
    width: 50px;
  }
  .tino img{
    width: 300px;
    height: 200px;
  }
  .tino p{
    font-size: 16px;
  }
  .minutos{
    margin-left: 40px;
  }
}

@media(max-width: 500px){
  h2{
    text-align: center;
  }
  .canciones img{ 
    height: 50px;
    width: 50px;
  }
  .cancion1,.cancion2,.cancion3,.cancion4,.cancion5,.cancion6,.cancion7{
    height: 120px;
    width: 60px;
  }
  .canciones p{
    font-size: 10px;
  }
  .artistas{
    flex-wrap: wrap;
  }
  aside{
    flex-wrap: wrap;
  }
  .noticia{
    text-align: center;
    flex-direction: column-reverse;
  }
  .tino img{
    width: 200px;
    height: 150px;
  }
  .minutos{
    margin-left: 10px;
  }
  .buscCan input{
    width: 200px;
  }
}

@media(max-width: 500px){
  h1{
    font-size: 20px;
  }
  h2{
    font-size: 15px;
  }
  h3{
    font-size: 15px;
  }
  h4{
    font-size: 13px;
  }
  p{
    font-size: 12px;
  }
  .artistas img{
    height: 25px;
    width: 25px;
  }
  .artistas h4{
    font-size: 10px;
  }
  .top img,button{
    height: 15px;
  font-size: 8px;
  }
  .notici img{
    width: 150px;
    height: 100px;
  }
  .programa img{
    width: 250px;
    height: 250px;
  }
  .programa div{
    width: 150px;
  }
  .emisoras img{
    margin: 0px;
  }
  .Latina,.Pop,.Relax,.Flamenco,.Rock,.Hip,.Dance,.Indie,
  .Decadas,.Fiestas,.Folk,.Instrumental,.Jazz,.Soul,.Clasica,
  .K-pop,.Punk,.Metal,.Cumbia,.Blues,.Funk,.Salsa,.Alternativa,
  .Trap,.Rap{
    width: 70px;
    height: 70px;
    margin: 5px;
  }
  .minutos{
    margin-left: 5px;
  }
  .genero img{
    width: 35px;
    padding-top: 8px;
  }
}

@media(max-width: 418px){
  .card{
    width: 10px;
  }
  .tino p{
    font-size: 14px;
  }
  .Lmusica p,.Lmusica a{
    font-size: 10px;
  }
}

@media(max-width: 350px){
  .noticia img,.img, .notici img {
    width: 120px;
    height: 100px;
  }
  #buscador{
    width: 80px;
  }
  .Latina,.Pop,.Relax,.Flamenco,.Rock,.Hip,.Dance,.Indie,
  .Decadas,.Fiestas,.Folk,.Instrumental,.Jazz,.Soul,.Clasica,
  .K-pop,.Punk,.Metal,.Cumbia,.Blues,.Funk,.Salsa,.Alternativa,
  .Trap,.Rap{
    width: 60px;
    height: 60px;
    margin: 3px;
  }
  .genero img{
    visibility: hidden;
  }
  .genero p{
    font-size: 12px;
    padding-left: 2px;
  }
  .form-control{
    width: 200px;
  }
  .tino img{
    width: 150px;
    height: 125px;
  }
}