@import "variables"

@mixin artista()
    width: $medida
    height: $medida
    border-radius: $medida

@mixin flexrow()
    display: flex;
    flex-direction: $flexrow;

@mixin flexcol()
    display: flex;
    flex-direction: $flexcolum;    

@mixin bordesgen()
    border-radius: 10px;
    width: 150px;
    height: 150px;

body
    margin: 0px
    background-color: #F7F7F7

.menu
    background-color: #423b3e
    padding: 0.1%;

footer
    background-color: #769E95
    padding: 0.1%;
    
button
    width: $medida;
    height: 50px;
    color: #75B380;
    background: transparent;
    border-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: -21px;
    margin-right: 15px;

.menu img
    height: 50px;
    margin-right: 1050px;

.iconos img
    width: 60px;
    height: 60px;
    background-size: $imagenMax;

.noticia img
    width: 280px;
    height: 220px;
    background-size: $imagenMax;

.artistas img
    @include artista();
    
.canciones img
    height: 140px;
    width: 150px;
    margin-top: 10px;

.webs img
    height: $medida;
    width: 250px; 

aside
    @include flexcol();
    text-align: $centro;
    margin-top: 20px;

aside img
    height: 200px;
    width: 220px;
    margin: auto;
    margin-bottom: 30px;
    display: block;

.artista1,.artista2,.artista3,.artista4,.artista5,
.cancion1,.cancion2,.cancion3,.cancion4,.cancion5,.cancion6,.cancion7
    @include flexcol();
    text-align: $centro;
    align-items: $centro;

.cancion1,.cancion2,.cancion3,.cancion4,.cancion5,.cancion6,.cancion7
    height: 250px;
    width: 180px;
    margin-left: 10px;
    background-color: rgb(199, 199, 199);
    border-radius: 20px;

main
    display: flex;
    margin-left: 10%;
    margin-right: 15%;

.iconos
    display: flex;
    justify-content: space-evenly;

.iconos img
    height: 30px;
    width: 30px;

.iconos p
    color: white;

.artistas, .canciones,.mini_Noticia
    @include flexrow();
    justify-content: space-around;

.noticias,.noticia
    @include flexrow();

.card
    border-style: solid;
    border-width: 1px;
    border-color: $gris;
    text-align: $centro;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-top: 20px;

.card img
    width: 280px;

.card a:hover 
    color: rgb(73, 67, 67);

.notici img
    width: 1000px;
    height: 650px;

.card p
    color: $gris;

.radio
    text-align: $centro;

.emisoras img
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    margin: 10px;
    padding: 5px;
    transition: transform 1s;

.emisoras img:hover
    transform: scale(1.05);
    box-shadow: 0px 0px 30px blue;
    border-width: 3px;

.podcast h2,.buscGen h2,.radio h2,section h1,.opinion h2
    font-weight: lighter;

.episodiosPod, .Programas
    @include flexrow()
    justify-content: $centro;
    justify-content: space-around;
    flex-wrap: wrap;

.episodio h5
    display: flex;
    align-items: $centro;    
    font-weight: lighter;
    height: 40px
    margin-top: -5px;
    padding-left: 4px;
    color: #74aecf
    background-color: black;

.episodio i
    padding-right: 10px;
    color: #96d4f8

.episodio-body:hover
    opacity: 0.8;

.episodiosPod img:hover
    opacity: 0.6;

.programa
    position: relative;
    display: inline-block;
    text-align: $centro;
    margin: 30px;

.programa div
    display: flex;
    align-items: $centro;
    justify-content: $centro;
    color: rgba(255,255 ,255,1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0 ,0,0.5);
    font-family: Helvetica,sans-serif;
    height: 50px;
    width: 300px

.buscGen, .buscCan
    text-align: $centro;

.buscGen input
    width: 50%;

.buscCan input
    width: 600px;

.genero
    @include flexrow()
    flex-wrap: wrap;
    justify-content: $centro;

.genero p
    color: white;
    font-weight: bold;
    padding-left: 10px;

.genero img
    width: 85px;
    float: right;
    padding-top: 20px;
    transform: rotate(-10deg);

.Latina,.Pop,.Relax,.Flamenco,.Rock,.Hip,.Dance,.Indie,
.Decadas,.Fiestas,.Folk,.Instrumental,.Jazz,.Soul,.Clasica,
.K-pop,.Punk,.Metal,.Cumbia,.Blues,.Funk,.Salsa,.Alternativa,
.Trap,.Rap
    @include bordesgen()
    margin: 10px;

.Latina,.Indie,.Fiestas,.Punk,.Blues
    background: linear-gradient(top, red, gold);
    box-shadow: 0px 0px 10px black;

.Pop,.Hip,.Jazz,.K-pop,.Funk,.Rap
    background: linear-gradient(top, brown, pink);
    box-shadow: 0px 0px 10px black;

.Relax,.Rock,.Decadas,.Instrumental,.Soul,
.Clasica,.Cumbia,.Alternativa
    background: linear-gradient(top, purple, pink);
    box-shadow: 0px 0px 10px black;

.Flamenco,.Dance,.Folk,.Metal,.Salsa,.Trap
    background: linear-gradient(top, silver, gold);
    box-shadow: 0px 0px 10px black;

.opinion
    width: 100%;
    @include flexcol();
    align-items: $centro;
    font-weight: bold;
    
.btnenvi
    width: 200px;
    height: 50px;
    color: white;
    font-weight: bold;
    background: dodgerblue;
    font-family: sans-serif;
    border-radius: 6px;
    transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
    margin-top: 40px;

.form-control
    width: 600px;

.form-group
    margin-top: 40px;

.tino img
    width: 1000px;
    height: 750px;

.tino a
    display: flex;
    justify-content: end;
    color: grey;

.tino p
    font-family: Helvetica;
    font-size: 20px;

.MusicL
    width: 100%;
    @include flexcol();
    align-items: center;

.Lmusica
    display: flex;
    align-items: center;
    margin-top: 10px;

.Lmusica:hover
    background-color: #a1aaaf;
    border-radius: 10px;
    opacity: 0.8;

.Lmusica img
    padding-left: 10px;

.minutos
    margin-left: 300px;
    padding-right: 20px;

.NombreMusic
    margin-left: 20px;
    padding-bottom: 5px;